<IfModule mod_rewrite.c>
    RewriteEngine On

    # Caminho base do seu projeto
    RewriteBase /mvc-studies/

    # Se for arquivo ou diretório existente, não redireciona
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tudo vai para index.php
    RewriteRule ^ index.php [L]
</IfModule>
